h1{
    color: white;
    font-size: 3em;
    margin: 0;
    bottom: 0;
}

#bento{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50em;
  line-height: 10em;
  border: solid 5px darkgray;
}

.box1{
  background: purple;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10em;
  width: 25em;
  }

.box2{
  background: orange;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10em;
  width: 25em;
  }

.box3{
  background: black;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10em;
  width: 25em;
}

.box4{
  background: gold;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10em;
  width: 25em;
}
