h1{
    color: white;
    font-size: 3em;
    margin: 0;
    bottom: 0;
}

#bento{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  border: solid 5px darkgray;
}

.box1{
  background: purple;
  justify-content: center;
  height: 50%;
  width: 50%;
  }

.box2{
  background: orange;
  justify-content: center;
  height: 50%;
  width: 50%;
  }

.box3{
  background: black;
  justify-content: center;
  height: 50%;
  width: 50%;
}

.box4{
  background: gold;
  justify-content: center;
  height: 50%;
  width: 50%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  border: solid 5px black;
  justify-content: center;
  align-items: center;
}
